<div class="container">
  <h2>Reactive Forms Component</h2>
  <form
    class="blogs-form"
    (ngSubmit)="handleFormSubmit($event)"
    [formGroup]="blogFormGroup"
  >
    <div class="form-group">
      <label for="title">Blog Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        placeholder="Give a blog title"
        formControlName="blogTitle"
      />
      <!-- <small *ngIf="blogFormGroup.controls['blogTitle']?.touched && blogFormGroup.get('blogTitle')?.dirty && blogFormGroup.get('blogTitle')?.invalid">Blog title is required</small> -->
      <small *ngIf="blogErrors['blogTitle']">{{ blogErrors['blogTitle'] }}</small>
    </div>
    <div class="form-group">
      <label for="summary">Blog Summary</label>
      <textarea
        name="summary"
        id=""
        cols="30"
        rows="10"
        id="summary"
        placeholder="Write the blog description"
        class="form-control"
        formControlName="blogDescription"
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn" [disabled]="blogFormGroup.invalid">
        Submit
      </button>
    </div>
  </form>
</div>
