<div class="container">
  <h2>{{ title }}</h2>
  <form action="" class="blogs-form">
    <div class="form-group">
      <label for="title">Blog Title</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="Give a blog title" [(ngModel)]="blogTitle">
    </div>
    <div class="form-group">
      <label for="summary">Blog Summary</label>
      <textarea name="summary" id="" cols="30" rows="10" id="summary" placeholder="Write the blog description"></textarea>
    </div>
    <div class="form-group">
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
